:host {
  padding-top: 20px;
}

.doc-header {
  cursor: pointer;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.doc-header > div {
  padding-left: 15px;
  padding-right: 15px;
}

.name-wrapper {
  max-width: 40%;
  overflow: hidden;
  display: inline-flex;
}

.name-wrapper .name {
  max-width: 80%;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
}

.doc-header .name {
  white-space: nowrap;
}

.icon {
  text-align: center;
}

.icon .material-icons {
  font-size: 14px;
  color: rgb(133, 133, 133)
}