.doc-header {
  cursor: pointer;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.doc-header > div {
  padding-left: 15px;
  padding-right: 15px;
}

.icon .material-icons {
  font-size: 14px;
  color: rgb(133, 133, 133)
}