<div *loading="!document">
    <div class="doc-header">
        <div>
            <h2 (click)="changeEditMode()" *ngIf="!nameEditMode">
                {{ document.name }}
                <span class="icon">
                <mat-icon (click)="changeEditMode()">mode_edit</mat-icon>
            </span>
            </h2>
            <mat-form-field *ngIf="nameEditMode">
                <input
                        matInput
                        [ngModel]="document.name"
                        (blur)="changeEditMode()"
                        (change)="onNameChange($event)"
                        placeholder="Название документа"
                >
            </mat-form-field>
        </div>

        <div>
            <button
                    mat-button
                    type="submit"
                    color="primary"
                    (click)="invite()"
            >
                <mat-icon>share</mat-icon>
                Поделиться
            </button>
        </div>
    </div>

    <ckeditor
            #editor
            [ngModel]="document && document.content"
            [config]="{height: '1000'}"
            [readonly]="false"
            debounce="500"
            (change)="onEditorChange($event)"
    >
    </ckeditor>
</div>