:host {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 16px;
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: 104px;
}

:host div {
  padding: 5px;
  width: 100%
}

.logo {
  cursor: pointer;
}

.logo-style {
  font-size: 30px;
  font-weight: 700;
  color: #4285f4;
  font-family: Catull;
  line-height: 40px;
}

.sub-logo {
  margin-left: 10px;
  font-size: 28px;
  font-weight: 100;
  color: #767676;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  line-height: 40px;
  align-self: center;
}