:host {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 48px;
}

:host > div {
  padding: 5px;
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
}

.logo {
  cursor: pointer;
  float: left;
  line-height: 40px;
  display: inline-flex;
  align-items: center;
}

.logo button {
  margin-left: 15px;
  font-size: 12px;
}

.user-info {
  float: right;
}

.logo-style {
  font-size: 30px;
  font-weight: 700;
  color: #4285f4;
  font-family: Catull;
  line-height: 40px;
}

.sub-logo {
  margin-left: 10px;
  font-size: 28px;
  font-weight: 100;
  color: #767676;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  line-height: 40px;
  align-self: center;
}